# Python
__pycache__/
*.py[cod]
*$py.class
*.env
venv/
env/
.venv/

# Database
backend/flouv.db

# Node
node_modules/
dist/
dist-ssr/
*.local

# OS
.DS_Store
Thumbs.db

backend/credentials.json
backend/token.json
